<div id="top" class="jumbotron top-container">
	<div class="container">
		<h1>Professional Web Developer - Axiom88</h1>
		<p class="lead">Interactive resume</p>
	</div>
	<div class="overlay"></div>
</div>

<!-- Profile -->

<div class="background-white">
	<div id="profile" class="container">
    <h2>Profile</h2>
    <p class="lead">I'm a creative Rails webdeveloper</p>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3>About me</h3>
        <p>
          I am an allround web developer. I am a senior programmer with
					good knowledge of front-end techniques. I love structure and order
					and I also stand for quality. I love spending time on fixing little details
					and optimizing web apps. Also I like working in a team, you'll learn faster and much more.
					As the saying goes: 'two heads are better than one'.
				</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
				<br>
        <img class="img-circle" src="/profile.png" alt="Axiom88" width="180" height="180">
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>Details</h3>
        <p>
        <strong>Name:</strong><br>
        James Lee<br>
        <strong>Age:</strong><br>
        30 years<br>
        <strong>Location:</strong><br>
        241 Hougang St 22 Singapore	</p>
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="" style="position: static; visibility: visible; width: 81px; height: 28px;" data-screen-name="pascalvgemert"></iframe>

      </div>
    </div>
  </div>
</div>

<!-- Experiences -->

<div id="experiences" class="container">
	<h2>Experiences</h2>
	<p class="lead">
	“Protons give an atom its identity, electrons its personality.”
	<br>- Bill Bryson, A short history of nearly everything
	</p>
	<hr>
	<h3>Educations</h3>
	<div class="experiences">
		<div class="experience row">
			<div class="col-md-4">
				<h4>Penn University</h4>
				<p class="experience-period">Mar 2014 - May 2014</p>
			</div>
			<div class="col-md-8">
				<p>
					<strong>Course - Gamification (course)</strong>
					<span class="hidden-phone">
						Gamification is the application of game elements and digital game design
						techniques to non-game problems, such as business and social impact challenges.
						This course thought me about the mechanisms of gamification,
						why it has such tremendous potential, and how to use it effectively.
					</span>
					<span class="experience-details">
						<span class="location">
							<span class="glyphicon glyphicon-map-marker"></span>
							Online
						</span>
					</span>
				</p>
			</div>
		</div>
	</div>
	<hr>
	<h3>Careers</h3>
	<div class="experiences">
		<div class="experience row">
			<div class="col-md-4">
				<h4>Startselect | Online Prepaid Services</h4>
				<p class="experience-period">
					May 2016				-
					current
				</p>
			</div>
			<div class="col-md-8">
				<p>
					<strong>Fulltime - Senior Web Developer</strong>
					<span class="hidden-phone">
						Working as a Senior Devloper on a large european based webshop for digital games and gifrcards. The application is Laravel based and as a team we are working in a fully scrum way. . 				</span>
						<span class="experience-details">
							<span class="location">
								<span class="glyphicon glyphicon-map-marker">
							</span>
						Eindhoven
					 </span>
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
							<a href="http://startselect.com" target="_blank">http://startselect.com</a>
						</span>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Abilities -->

<div class="background-white">
	<div id="abilities" class="container">
		<h2>Abilities</h2>
		<p class="lead">“Life without knowledge is death in disguise.” - Talib Kweli</p>
		<hr>
		<h3>Skills</h3>
		<div class="row">
			<div class="col-md-6">
				<ul class="ability">
					<li>
						<span class="ability-title">Bootstrap Framework</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li>
						<span class="ability-title">Bootstrap Framework</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li>
						<span class="ability-title">Bootstrap Framework</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>

				</ul>
			</div>
			<div class="col-md-6">
				<ul class="ability">
					<li>
						<span class="ability-title">Bootstrap Framework</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
					<li>
						<span class="ability-title">Bootstrap Framework</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>
					<li>
						<span class="ability-title">Bootstrap Framework</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
					</li>

				</ul>
			</div>
		</div>
		<hr>
		<h3>Languages</h3>
		<div class="row">
			<div class="col-md-6">
				<ul class="ability">
					<li>
						<span class="ability-title">Chinese (Mother tongue)</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
				</ul>
				<ul class="ability">
					<li>
						<span class="ability-title">Korean (대화가능)</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
						</span>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="ability">
					<li>
						<span class="ability-title">English (Daily use)</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
				</ul>
				<ul class="ability">
					<li>
						<span class="ability-title">Japanese (基礎の段階)</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<hr>
		<h3>Tools</h3>
		<div class="row">
			<div class="col-md-6">
				<ul class="ability">
					<li>
						<span class="ability-title">Sublime</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
				</ul>
				<ul class="ability">
					<li>
						<span class="ability-title">Visual Studio Code</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
						</span>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="ability">
					<li>
						<span class="ability-title">Atom</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
						</span>
					</li>
				</ul>
				<ul class="ability">
					<li>
						<span class="ability-title">Sketch</span>
						<span class="ability-score">
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star filled"></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star "></span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Projects -->

<div id="projects" class="container">
	<h2>Projects</h2>
	<p class="lead">
		“You can do anything you set your mind to.”
		- Benjamin Franklin
	</p>
	<hr>
	<div class="row">
		<div class="col-md-6 col-xs-12 col-sm-12">
			<img src="/project_stylistplanner.png" alt="StylistPlanner" class="img-responsive">
			<div class="overlay">

			</div>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<img src="/project_stylistplanner.png" alt="StylistPlanner" class="img-responsive">
			<div class="overlay">

			</div>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<img src="/project_stylistplanner.png" alt="StylistPlanner" class="img-responsive">
			<div class="overlay">

			</div>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<figure class="overlay overlay-hover">
        <img class="overlay-figure" src="/project_stylistplanner.png" alt="...">
        <figcaption class="overlay-panel overlay-background overlay-slide-right">
					<h3>StylistPlanner</h3>
					<hr>
					<p>Payyus, a creative LLC located in DENVER.</p>
					<p><strong>Tags:</strong> <br>Development, Rails, Sidekiq, Redis, Bootstrap</p>
					<a href="http://stylistplanner.com" target="_blank">View more</a>
					<span class="icon">
						<span class="glyphicon glyphicon-new-window"></span>
					</span>
        </figcaption>
      </figure>
		</div>
	</div>
</div>

<!-- Contact -->

<div class="background-gray">
	<div id="contact" class="container">
		<h2>Contact</h2>
		<p class="lead">
			“If I had asked people what they wanted, they would have said faster horses. ”
			- Henry Ford
		</p>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<ul class="list-unstyled">
  				<li>
						<a href="javascript:void(0)" target="_blank">
							<span class="icon icon-twitter"></span> http://twitter.com/jameslee
					 </a>
					</li>
					<li>
						<a href="javascript:void(0)" target="_blank">
							<span class="icon icon-twitter"></span> http://twitter.com/jameslee
					 </a>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="list-unstyled">
					<li>
						<a href="javascript:void(0)" target="_blank">
							<span class="icon icon-twitter"></span> http://twitter.com/jameslee
					 </a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
</div>
